.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%
}

.gold {
  background: gold;
}

.silver {
  background: silver;
}

.bronze {
  background: #CD7F32;
}

.flag {
  background-image: url(http://s3.amazonaws.com/com.veea.medals/flags.png);
  background-repeat: no-repeat;
  height: 17px;
  width: 28px;
}

.aut {
  background-position: 0px 0px;
}

.blr {
  background-position: 0px -17px;
}

.can {
  background-position: 0px -34px;
}

.chn {
  background-position: 0px -51px;
}

.fra {
  background-position: 0px -68px;
}

.ger {
  background-position: 0px -85px;
}

.ita {
  background-position: 0px -102px;
}

.ned {
  background-position: 0px -119px;
}

.nor {
  background-position: 0px -136px;
}

.rus {
  background-position: 0px -153px;
}

.sui {
  background-position: 0px -170px;
}

.swe {
  background-position: 0px -187px;
}

.usa {
  background-position: 0px -204px;
}