.bold {
  font-weight: bold;
}

.active {
  border-top: 2px solid black;
}

.totals {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 500px;
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
  height: 25px;
  border-bottom: 2px solid black;
}

.row {
  height: 25px;
  border-bottom: 1px solid black;
  text-align: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
}

.gold {
  background: gold;
}

.silver {
  background: silver;
}

.bronze {
  background: #CD7F32;
}

.flag {
  background-image: url(http://s3.amazonaws.com/com.veea.medals/flags.png);
  background-repeat: no-repeat;
  height: 17px;
  width: 28px;
}

.aut {
  background-position: 0px 0px;
}

.blr {
  background-position: 0px -17px;
}

.can {
  background-position: 0px -34px;
}

.chn {
  background-position: 0px -51px;
}

.fra {
  background-position: 0px -68px;
}

.ger {
  background-position: 0px -85px;
}

.ita {
  background-position: 0px -102px;
}

.ned {
  background-position: 0px -119px;
}

.nor {
  background-position: 0px -136px;
}

.rus {
  background-position: 0px -153px;
}

.sui {
  background-position: 0px -170px;
}

.swe {
  background-position: 0px -187px;
}

.usa {
  background-position: 0px -204px;
}